<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/weather.png" type="image/x-icon">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content"></div>
    {{> header}}
    <p>This Website uses the MapBox and WeatherStack API's</p>
    <figure>
        <img class="portrait" src="./img/kishalay - photograph.jpg" alt="about">
        <figcaption>{{img_title}}</figcaption>
    </figure>
    <h2>{{about}}</h2>
    </div>
    {{>footer}}
</body>

</html>