<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/weather.png" type="image/x-icon">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
    {{> header}}
    <h1>Jai Siya Ram</h1>
    <h2>Created By: {{creator}}</h2>
    <h2>Work: {{work}}</h2>
    </div>
    {{>footer}}
</body>


</html>